APP_NAME=examples/shop-app
APP_ENV=local
APP_DEBUG=true
APP_URL=http://127.0.0.1:8000
APP_TIMEZONE=UTC

DB_CONNECTION=sqlite
DB_DATABASE=storage/database.sqlite
# DB_CONNECTION=mysql
# DB_HOST=127.0.0.1
# DB_PORT=3306
# DB_DATABASE=newla_db
# DB_USERNAME=root
# DB_PASSWORD=

STORAGE_DRIVER=local
LOG_CHANNEL=file
